{"openapi":"3.0.1","info":{"title":"Modeler REST API", "version": "v1"},"servers":[{"url":"https://modeler.cloud.camunda.io","description":"Generated server url"}],"paths":{"/api/beta/projects":{"get":{"tags":["Projects"],"operationId":"listProjects","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectMetadataDto"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"post":{"tags":["Projects"],"description":"Creates a new project. This project will be created without any collaborators, so it will by\ndefault not be visible. To assign collaborators, the org owner can enable super-user mode and\nassign collaborators to it.\n","operationId":"createProject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProjectDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectMetadataDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\"errors\":[{\"reason\":\"INVALID_INPUT\"}]}"}}}},"security":[{"Bearer":[]}]}},"/api/beta/milestones":{"post":{"tags":["Milestones"],"operationId":"createMilestone","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMilestoneDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MilestoneMetadataDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\"errors\":[{\"reason\":\"INVALID_INPUT\"}]}"}}}},"security":[{"Bearer":[]}]}},"/api/beta/folders":{"post":{"tags":["Folders"],"description":"Creates a new folder.<br/>\n<ul>\n  <li>When only <em>parentId</em> is given, the folder will be created in that\n      folder. The folder can be in any project of the same organization.</li>\n  <li>When <em>projectId</em> is given and <em>parentId</em> is either\n      null or omitted altogether, the folder will be created in the root of the project.</li>\n  <li>When <em>projectId</em> and <em>parentId</em> are both given,\n      they must be consistent - i.e. the parent folder is in the project.</li>\n</ul>\n","operationId":"createFolder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFolderDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderMetadataDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\"errors\":[{\"reason\":\"INVALID_INPUT\"}]}"}}}},"security":[{"Bearer":[]}]}},"/api/beta/files":{"post":{"tags":["Files"],"description":"This endpoint creates a file.<br/>\nTo create a file, specify <em>projectId</em> and/or <em>folderId</em>:\n<ul>\n  <li>When only <em>folderId</em> is given, the file will be created in that\n      folder. The folder can be in any project of the same organization.</li>\n  <li>When <em>projectId</em> is given and <em>parentId</em> is either\n      null or omitted altogether, the file will be created in the root of the project.</li>\n  <li>When <em>projectId</em> and <em>folderId</em> are both given,\n      they must be consistent - i.e. the folder is in the project.</li>\n</ul>\n","operationId":"createFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFileDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileMetadataDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\"errors\":[{\"reason\":\"INVALID_INPUT\"}]}"}}}},"security":[{"Bearer":[]}]}},"/api/beta/projects/{projectId}":{"get":{"tags":["Projects"],"operationId":"getProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["Projects"],"description":"Deletion of resources is recursive and cannot be undone.","operationId":"deleteProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"204":{"description":"No Content"}},"security":[{"Bearer":[]}]},"patch":{"tags":["Projects"],"operationId":"updateProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectMetadataDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\"errors\":[{\"reason\":\"INVALID_INPUT\"}]}"}}}},"security":[{"Bearer":[]}]}},"/api/beta/folders/{folderId}":{"get":{"tags":["Folders"],"operationId":"getFolder","parameters":[{"name":"folderId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["Folders"],"description":"Deletion of resources is recursive and cannot be undone.","operationId":"deleteFolder","parameters":[{"name":"folderId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"204":{"description":"No Content"}},"security":[{"Bearer":[]}]},"patch":{"tags":["Folders"],"description":"This endpoint updates the name or location of a folder, or both at the same time.<br/>\nTo move a folder, specify <em>projectId</em> and/or <em>parentId</em>:\n<ul>\n  <li>When only <em>parentId</em> is given, the file will be moved to that\n      folder. The folder must keep in the same organization.</li>\n  <li>When <em>projectId</em> is given and <em>parentId</em> is either\n      null or omitted altogether, the file will be moved to the root of the project.</li>\n  <li>When <em>projectId</em> and <em>parentId</em> are both given,\n      they must be consistent - i.e. the new parent folder is in the new project.</li>\n</ul>\n","operationId":"patchFolder","parameters":[{"name":"folderId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFolderDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderMetadataDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\"errors\":[{\"reason\":\"INVALID_INPUT\"}]}"}}}},"security":[{"Bearer":[]}]}},"/api/beta/files/{fileId}":{"get":{"tags":["Files"],"operationId":"getFile","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["Files"],"description":"Deletion of resources is recursive and cannot be undone.","operationId":"deleteFile","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"204":{"description":"No Content"}},"security":[{"Bearer":[]}]},"patch":{"tags":["Files"],"description":"This endpoint updates the content, name, or location of a file, or all at the same time.<br/>\n<br/><strong>Warning</strong> This beta does <em>not</em> implement all safeguards that\nare present in the UI:\n<ul>\n  <li>When updating the content of an element template, make sure to not change the\n      element template id.</li>\n</ul>\nTo move a file, specify <em>projectId</em> and/or <em>parentId</em>:\n<ul>\n  <li>When only <em>parentId</em> is given, the file will be moved to that\n      folder. The folder can be in another project of the same organization.</li>\n  <li>When <em>projectId</em> is given and <em>parentId</em> is either\n      null or omitted altogether, the file will be moved to the root of the project.</li>\n  <li>When <em>projectId</em> and <em>parentId</em> are both given,\n      hey must be consistent - i.e. the new parent folder is in the new project.</li>\n</ul>\nThe field <em>revision</em> holds the current revision of the file. This is used for detecting\nand preventing concurrent modifications.\n","operationId":"patchFile","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFileDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileMetadataDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"400":{"description":"Bad Request","content":{"application/json":{"example":"{\"errors\":[{\"reason\":\"INVALID_INPUT\"}]}"}}},"409":{"description":"Conflict","content":{"application/json":{"example":"{\"errors\":[{\"reason\":\"REVISION_CONFLICT\"}]}"}}}},"security":[{"Bearer":[]}]}},"/api/beta/projects/{projectId}/files":{"get":{"tags":["Files"],"operationId":"listFiles","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FileMetadataDto"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}},"/api/beta/milestones/{milestoneId}":{"get":{"tags":["Milestones"],"operationId":"getMilestone","parameters":[{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MilestoneDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]},"delete":{"tags":["Milestones"],"description":"Deletion of resources is recursive and cannot be undone.","operationId":"deleteMilestone","parameters":[{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"responses":{"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"},"204":{"description":"No Content"}},"security":[{"Bearer":[]}]}},"/api/beta/info":{"get":{"tags":["Info"],"operationId":"getInfo","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfoDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}}},"security":[{"Bearer":[]}]}},"/api/beta/files/{fileId}/milestones":{"get":{"tags":["Milestones"],"operationId":"listMilestones","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"string","format":"uuid","example":"b1fb2ce0-f76b-4d06-b409-0da32e58e4df"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MilestoneMetadataDto"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"example":"{\"errors\":[{\"detail\":\"detail message\"}]}"}}},"404":{"description":"Not Found"}},"security":[{"Bearer":[]}]}}},"components":{"schemas":{"CreateProjectDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"}}},"ProjectMetadataDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"created":{"type":"string"},"createdBy":{"$ref":"#/components/schemas/UserDto"},"updated":{"type":"string"},"updatedBy":{"$ref":"#/components/schemas/UserDto"}}},"UserDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"CreateMilestoneDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"fileId":{"maxLength":255,"minLength":1,"type":"string"}}},"MilestoneMetadataDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"fileId":{"type":"string"},"created":{"type":"string"},"createdBy":{"$ref":"#/components/schemas/UserDto"},"updated":{"type":"string"},"updatedBy":{"$ref":"#/components/schemas/UserDto"}}},"CreateFolderDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"projectId":{"maxLength":255,"minLength":1,"type":"string"},"parentId":{"maxLength":255,"minLength":1,"type":"string"}}},"FolderMetadataDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"projectId":{"type":"string"},"parentId":{"type":"string"},"created":{"type":"string"},"updated":{"type":"string"},"createdBy":{"$ref":"#/components/schemas/UserDto"},"updatedBy":{"$ref":"#/components/schemas/UserDto"}}},"CreateFileDto":{"required":["content","fileType","name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"parentId":{"type":"string"},"projectId":{"maxLength":255,"minLength":1,"type":"string"},"content":{"type":"string"},"fileType":{"type":"string","description":"Allowed values are: \"bpmn\", \"dmn\", \"form\" and \"connector_template\""}}},"FileMetadataDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"projectId":{"type":"string"},"folderId":{"type":"string"},"simplePath":{"type":"string"},"canonicalPath":{"type":"array","items":{"$ref":"#/components/schemas/PathElementDto"}},"revision":{"type":"integer","format":"int32"},"type":{"type":"string"},"created":{"type":"string"},"createdBy":{"$ref":"#/components/schemas/UserDto"},"updated":{"type":"string"},"updatedBy":{"$ref":"#/components/schemas/UserDto"}}},"PathElementDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"UpdateProjectDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"}}},"UpdateFolderDto":{"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"projectId":{"maxLength":255,"minLength":1,"type":"string"},"parentId":{"maxLength":255,"minLength":1,"type":"string"}}},"UpdateFileDto":{"required":["revision"],"type":"object","properties":{"name":{"maxLength":255,"minLength":1,"type":"string"},"content":{"type":"string"},"revision":{"type":"integer","format":"int32"},"projectId":{"maxLength":255,"minLength":1,"type":"string"},"parentId":{"maxLength":255,"minLength":1,"type":"string"}}},"ProjectContent":{"type":"object","properties":{"folders":{"type":"array","items":{"$ref":"#/components/schemas/FolderMetadataDto"}},"files":{"type":"array","items":{"$ref":"#/components/schemas/FileMetadataDto"}}}},"ProjectDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/ProjectMetadataDto"},"content":{"$ref":"#/components/schemas/ProjectContent"}}},"MilestoneDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MilestoneMetadataDto"},"content":{"type":"string"}}},"InfoDto":{"type":"object","properties":{"version":{"type":"string"},"authorizedOrganization":{"type":"string"},"createPermission":{"type":"boolean"},"readPermission":{"type":"boolean"},"updatePermission":{"type":"boolean"},"deletePermission":{"type":"boolean"}}},"FolderContentDto":{"type":"object","properties":{"folders":{"type":"array","items":{"$ref":"#/components/schemas/FolderMetadataDto"}},"files":{"type":"array","items":{"$ref":"#/components/schemas/FileMetadataDto"}}}},"FolderDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/FolderMetadataDto"},"content":{"$ref":"#/components/schemas/FolderContentDto"}}},"FileDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/FileMetadataDto"},"content":{"type":"string"}}}},"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}